
*{
  font-family: 'Josefin Sans', sans-serif;
  /*font-family: 'Roboto Slab', serif;*/
  color:#d6e5ff;
  font-size:120%;
  text-align:center;

}

html {
    color: #222;
    /*font-size: 1em;*/
    line-height: 1.4;
    background:#99baef;
    background: radial-gradient(#99baef,#8fdb8a);
    margin:50px;

}

a{
  text-decoration:none;
  font-family: 'Lobster', cursive;

}
#buttondiv{
  padding-top:30px;
}

#button{
  display:inline-block;
  margin:10px 30px 10px 30px;
  padding:10px 30px 10px 30px;
  border:white solid 1px;
  background-color:#eabbf9;
  border-radius:5px;
  cursor: pointer;
  /*width:50%;*/
  /*white-space: nowrap*/

}

#bookname{
    margin-left: 40px;
    margin-right:40px;
}


